{% extends "layout.html" %}

{% block body %}
    <div class="container d-flex flex-column align-items-center my-3">
        <h1>Player List</h1>
        {% if players %}
            {% for player in players %}
            <p>{{ player }} <a href="{% url 'view_player' player.id%}">Link</a></p>
            {% endfor %}
            <a href="{% url 'create_player' %}">Create a new Player</a>
        {% else %}
        <p>No players found. <a href="{% url 'create_player' %}">Start a Player</a></p>
        {% endif %}
    </div>
{% endblock %}



